@model IEnumerable<ADMS.Domain.Entities.Category>

<div class="form-group">
    <label class="control-label col-md-2">Select category</label>

    <div class="col-md-10">
        <ul class="subcategory">

            @foreach (var item in Model)
            {
                <li class="sub_categories">
                    <span class="toggler glyphicon glyphicon-circle-arrow-down"></span>
                    <span class="category_name">@item.CategoryName</span>
                    <span class="row_selector glyphicon glyphicon-unchecked" id="@item.CategoryId"></span>
                    <div class="innercategories"></div>
                </li>
            }

        </ul>
    </div> 
</div>



<input type="hidden" id="SelectedCategory" name="SelectedCategory" value="" />

<script src="~/Scripts/App/ManageCategory.js"></script>
