
<div class="form-group">
    <div class="col-md-offset-2 col-md-3">
        <ul class="list-group" id="SubCategories"></ul>
    </div>
</div>

<input type="hidden" id="SelectedCategory" name="SelectedCategory" value="" />

<script src="~/Scripts/App/ManageCategory.js"></script>
