

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Posts</h1>
    <p class="lead">Posts are here</p>
    <p><a href="/Posts/Index" class="btn btn-primary btn-lg">Posts</a></p>
</div>

