<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="ADMS.Domain.Interfaces.IUnitOfWork, ADMS.Domain" mapTo="ADMS.Data.UnitOfWork, ADMS.Data" />

    <register type="ADMS.Domain.Interfaces.Configurations.IConfigurationSettings, ADMS.Domain" mapTo="ADMS.Configuration.ConfigurationSettings, ADMS.Configuration" >
      
    </register>
    <register type="ADMS.Domain.Interfaces.Files.IFileHandler, ADMS.Domain" mapTo="ADMS.Files.ImageFileHandler, ADMS.Files" />
    <register type="ADMS.Domain.Interfaces.Files.IThumbnailGenerator, ADMS.Domain" mapTo="ADMS.Files.ImageThumbnailGenerator, ADMS.Files" />
    
    <register type="ADMS.Domain.Interfaces.Managers.IPostManager, ADMS.Domain" mapTo="ADMS.Business.PostManager, ADMS.Business" />
    <register type="ADMS.Domain.Interfaces.Managers.ICategoryManager, ADMS.Domain" mapTo="ADMS.Business.CategoryManager, ADMS.Business" />
    <register type="ADMS.Domain.Interfaces.Managers.ICategoryMappingManager, ADMS.Domain" mapTo="ADMS.Business.CategoryMappingManager, ADMS.Business" />
    <register type="ADMS.Domain.Interfaces.Managers.IUserManager, ADMS.Domain" mapTo="ADMS.Business.UserManager, ADMS.Business" /> 
    <register type="ADMS.Domain.Interfaces.Managers.IUploadManager, ADMS.Domain" mapTo="ADMS.Business.UploadManager, ADMS.Business" /> 
  </container>
</unity>
