<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="ADMS.Domain.Interfaces.IUnitOfWork, ADMS.Domain" mapTo="ADMS.Data.UnitOfWork, ADMS.Data" />
    <register type="ADMS.Domain.Interfaces.Managers.IPostManager, ADMS.Domain" mapTo="ADMS.Business.PostManager, ADMS.Business" />
    <register type="ADMS.Domain.Interfaces.Managers.ICategoryManager, ADMS.Domain" mapTo="ADMS.Business.CategoryManager, ADMS.Business" />
    <register type="ADMS.Domain.Interfaces.Managers.ICategoryMappingManager, ADMS.Domain" mapTo="ADMS.Business.CategoryMappingManager, ADMS.Business" />
    <register type="ADMS.Domain.Interfaces.Managers.IUserManager, ADMS.Domain" mapTo="ADMS.Business.UserManager, ADMS.Business" />    
  </container>
</unity>
