<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    
    <typeAlias alias="IUnitOfWork" type="ADMS.Domain.Interfaces.IUnitOfWork, ADMS.Domain" />
    <typeAlias alias="UnitOfWork" type="ADMS.Data.UnitOfWork, ADMS.Data" />
    
    <typeAlias alias="IPostManager" type="ADMS.Domain.Interfaces.Managers, ADMS.Domain" />
    <typeAlias alias="PostManager" type="ADMS.Business.PostManager, ADMS.Business" />
    
    <typeAlias alias="ICategoryManager" type="ADMS.Domain.Interfaces.Managers, ADMS.Domain" />
    <typeAlias alias="CategoryManager" type="ADMS.Business.CategoryManager, ADMS.Business" />

    <typeAlias alias="ICategoryMappingManager" type="ADMS.Domain.Interfaces.Managers, ADMS.Domain" />
    <typeAlias alias="CategoryMappingManager" type="ADMS.Business.CategoryMappingManager, ADMS.Business" />
  </typeAliases>
  <container>
    
    <register type="IUnitOfWork" mapTo="UnitOfWork" />
    <register type="IPostManager" mapTo="PostManager" /> 
    <register type="ICategoryManager" mapTo="CategoryManager" />
    <register type="ICategoryMappingManager" mapTo="CategoryMappingManager" />
     
    
      <!--<constructor>
        <param name="br" dependencyName="SQLrepo">
          <param name="br" dependencyType="BookRepository">
          <dependency type="BookRepository" />
          <dependency name="SQLrepo" />
        </param>
      </constructor>
    </register>-->
  </container>
</unity>
<!--
 container.RegisterType<IUnitOfWork, UnitOfWork>();
            container.RegisterType<IPostManager, PostManager>();
            container.RegisterType<ICategoryManager, CategoryManager>();
            container.RegisterType<ICategoryMappingManager, CategoryMappingManager>(); -->
